.App {
  font-family: sans-serif;
  text-align: center;
}

.buttonWrapper {
  /* margin: 2em; */
  display: flex;
  align-items: flex-start;
}

h1 {
  color: #d04764;
  font-family: "Lobster", cursive;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 18px;
  text-shadow: 1px 0 0 #fff;
}

h2 {
  color: #2ca4b0;
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 18px;
  text-shadow: 1px 0 0 #fff;
}

p {
  color: green;
  font-family: "Original Surfer", cursive;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 24px;
  font-weight: bolder;
}

/* From uiverse.io by @e-coders */
button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-right: 1em;
  margin-bottom: 1em;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
